/* 기본세팅 */
* {
  margin: 0;
}

/* 기본 색상 */
:root {
  --black-color1: #000000;
  --white-color1: #d9d9d9;
  --white-color2: #ffffff;
}

/* 헤더영역 */
.header {
  background-color: var(--black-color1);
  color: var(--white-color1);
  height: 82px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid var(--white-color1);
}

/* 헤더 로그인 */
.sign-in,
.sign-out {
  float: left;
  position: relative;
  left: 30px;
  top: 30px;
  padding-right: 30px;
  font-size: 16px;
}

/* 헤더 로고 */
.logo {
  float: left;
  position: relative;
  left: 400px;
  top: 20px;
}

/* 헤더 search */
.search {
  float: right;
  position: relative;
  right: 130px;
  top: 30px;
}

/* 헤더 nav바 영역 */
.nav {
  display: inline-block;
  border: 1px solid;
  display: flow-root;
  padding: 20px 20px;
  background-color: var(--black-color1);
  color: var(--white-color2);
}

.nav-container {
  float: left;
}

.drink,
.food,
.products,
.lectures {
  float: left;
  padding-right: 100px;
  padding-left: 30px;
}

.customer-service {
  float: right;
  padding-left: 30px;
}
